<ion-item>
  <div style="position: relative;">
    <ion-checkbox
      mode="ios"
      [checked]="checked"
      (ionChange)="checkedChange.emit(!checked)"
    ></ion-checkbox>
  </div>

  <div (click)="divClicked.emit(true)" style="display: flex; width: 100%; align-items: center;">
    <div
      style="margin-right: auto;"
      [ngStyle]="{ padding: additionalInfo ? '1rem' : '1.5rem 1rem' }">
      <ion-label>{{ taskTitle }}</ion-label>
      <ion-label *ngIf="additionalInfo" style="font: normal 11px/14px Segoe UI;">{{
        additionalInfo
      }}</ion-label>
      <ion-label *ngIf="formattedDateString" style="font: normal 11px/14px Segoe UI;">{{
        formattedDateString
      }}</ion-label>
    </div>
    <ion-chip
      *ngIf="listName && color"
      [ngStyle]="{ 'background-color': color, color: 'white' }"
    >
      <ion-label>{{ listName }}</ion-label>
    </ion-chip>
  </div>
</ion-item>
