:host {
    .fav-list-card {
        width: 9rem;
        height: 6rem;
        margin-bottom: 1rem;
        .container {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            .icon {
                height: 1.675rem;
                width: 1.675rem;
                padding-right: 0.5rem;
            }

            .text-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .text {
                    font: Bold 15px/20px Segoe UI;
                    text-align: center;
                }

                .subtext {
                    font: Regular 13px/17px Segoe UI;
                    text-align: center;
                }
            }
        }
    }

    @media (min-width: 1000px) {
        .fav-list-card {
            width: 100%;
        }
    }
}
