:host {
    $primary: var(--ion-color-primary);
    $primary-shade: var(--ion-color-primary-shade);
    .primary {
        $primary: var(--ion-color-primary);
        $primary-shade: var(--ion-color-primary-shade);
    }
    
    .secondary {
        $primary: var(--ion-color-primary);
        $primary-shade: var(--ion-color-primary-shade);
    }
    
    .header {
        height: 8rem;
        display: flex;
        border-radius: 0 0 3rem 0;
        background: transparent linear-gradient(180deg, $primary 0%, $primary-shade 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        justify-content: center;
        align-items: center;

        &.landing {
            --ion-color-primary: #3880ff;
            --ion-color-primary-shade: #3171e0;
            position: fixed;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            height: 10rem;

            .title-container {
                padding-left: 1rem;
                padding-top: 1.375rem;
                padding-bottom: 2rem;

                .title {
                    font: Bold 30px/40px Segoe UI;
                    text-align: left;
                    margin: 0;
                    padding-bottom: 0.25rem;
                    letter-spacing: 0px;
                    color: #fefeff;
                    opacity: 1;
                }

                .subtitle {
                    font: lighter 16px/21px Segoe UI;
                    color: white;
                    margin: 0;
                }
            }
        }

        .title-container {
            .title {
                font: Bold 30px/40px Segoe UI;
                text-align: left;
                margin: 0;
                padding-bottom: 0.25rem;
                letter-spacing: 0px;
                color: #fefeff;
                opacity: 1;
            }

            .subtitle {
                font: lighter 16px/21px Segoe UI;
                color: white;
                margin: 0;
            }
        }

        .back {
            position: fixed;
            width: 22px;
            height: 22px;
            left: 1.25rem;
            background: url("./../../assets/icon/Icon\ material-arrow_back.svg") no-repeat center center;
        }
        .close {
            position: fixed;
            width: 22px;
            height: 22px;
            left: 1.25rem;
            ion-icon {
                width: 2rem;
                height: 2rem;
                color: white;
            }
        }

        .increase {
            height: 15rem;
        }
    }
}
