<ion-content [fullscreen]="true">
  <div class="grid-container">
    <app-header
      class="header"
      [isLanding]="true"
      [title]="'Let\'s plan'"
      [subtitle]="'Your favorite list'"
    >
    <div class="position">
      <div class="card-list">
        <app-favorite-list-card
          [routerLink]="['/list', listItem.id]"
          [queryParams]="{ color: listItem.color }"
          *ngFor="let listItem of list | async"
          [title]="listItem.listName"
          [subtitle]="listItem.pending + ' of ' + listItem.count + ' items'"
          [color]="listItem.color"
          [iconName]="listItem.iconName">
        </app-favorite-list-card>
        <app-favorite-list-card [title]="'Add a list'" [iconName]="'add'">
        </app-favorite-list-card>
      </div>
    </div>
    </app-header>
    <div class="body">
      <ion-label class="heading">All Tasks</ion-label>
      <ion-list>
        <app-list-item
          *ngFor="let todoItem of todoList | async"
          [(checked)]="todoItem.status"
          [taskTitle]="todoItem.taskTitle"
          [additionalInfo]="todoItem.dueDate"
          [color]="todoItem.color"
          [listName]="todoItem.listName">
        </app-list-item>
      </ion-list>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTodoItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
