<ion-content>
  <app-header
    [hasClose]="true"
    (closeClicked)="dimiss()"
    [title]="'Add a new task'">
  </app-header>

  <form style="display: flex; flex-direction: column; padding: 1rem; width: 100%;">
  
    <ion-item>
      <ion-label color="dark-tint" position="floating">Task Name <span style="color:red">*</span></ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="dark-tint" position="floating">Add details</ion-label>
      <ion-input> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="dark-tint" position="floating">List</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let listItem of list | async" value="{{listItem.id}}">{{listItem.listName}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button style="font: normal 11px/14px Segoe UI; margin-top: 2rem;"> Add Task </ion-button>
  </form>
</ion-content>